@media (min-width: 1280px) {

	#plot {
		width: 640px;
		height: 480px;
	}

}

@media (min-width: 720px) and (max-width: 1279px) {

	#plot {
		width: 480px;
		height: 320px;
	}

}

@media (max-width: 719px) {

	#plot {
		width: 320px;
		height: 240px;
	}

}