@import 'includes/fonts';
@import 'includes/graph';

@mixin alpha-me($var1, $var2, $var3:null, $var4:null) {

	// Set variables for global use
	$property: $var1;
	$attributes: null;
	$color: null;
	$color-bg: null;

	// Check if $var2 is a color
	@if ( type-of($var2) == color ) {

		// Set default background if not specified
		@if not $var3 { $var3: #fff; }

		// Update variables
		$color: $var2;
		$color-bg: $var3;

	// Otherwise it should be the attributes
	} @else if ( type-of($var2) != color ) {

		// Set default background if not specified
		@if not $var4 { $var4: #fff; }

		// Update variables
		$attributes: $var2;
		$color: $var3;
		$color-bg: $var4;

	}

	// Extract alpha channel from color
	$percent: alpha($color) * 100%;

	// Make color opaque
	$opaque: opacify($color, 1);

	// Blend color with background.
	$color-solid: mix($opaque, $color-bg, $percent);

	// Return built style with solid color and transparent color
	#{$property}: #{$attributes} $color-solid;
	#{$property}: #{$attributes} $color;

}

html {
	font-size: 62.5%;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.2rem;
	overflow-y: scroll;
}

h1 {
	color: #248;
	margin: 0.5em 0;
	text-align: center;
}

fieldset {
	border: none;
	margin: 0;
	padding: 0;
}

pre,
footer {
	background: #f9f9f9;
	border: 1px solid #eee;
	border-radius: 1em;
	color: #333;
	display: inline-block;
	font-family: 'Inconsolata', monospace;
	margin: 0.5em 0;
	text-align: left;
	transition: all 0.5s;
	&:hover {
		background: #eee;
		border: 1px solid #ddd;
		color: #000;
		transition: all 0.5s;
		small.ln {
			color: #bbb;
			transition: all 0.5s;
		}
	}
}

pre {
	padding: 1em 4em 1em 1em;
}

button,
input,
select,
textarea {
	background: #fff;
	@include alpha-me(border, 1px solid, rgba(black, 0.3));
	outline: none;
	margin: 1em 1em  1em .5em;
	padding: 0.2em 0.4em;
	&:hover {
		@include alpha-me(background, rgba(black, 0.05), white);
	}
	&:focus {
		background: #fff;
		@include alpha-me(box-shadow, 0 0 1em, rgba(black, 0.2));
	}
}

input {
	&[type=submit],
	&[type=reset] {
		margin: 1em 0.1em;
	}
}

label {

}

var {
	font-weight: bold;
	font-style: italic;
}

footer {
	margin: 1rem 0;
	padding: .6rem .3rem;
	font-size: 1.2rem;
	text-align: center;
	h1 {
		margin: 0;
		font-size: 1.6rem;
		font-weight: normal;
	}
	ul {
		list-style: none;
		margin: .5rem 0;
		padding: 0;
		li {
			display: inline;
			margin: 0 1rem;
		}
		&:after {
			content: '.';
			visibility: hidden;
			display: block;
			height: 0;
			clear: both;
		}
	}
}

.container {
	margin: 1em auto 0 auto;
	text-align: center;
}

.center {
	text-align: center;
	&pre {
		padding: 1em;
	}
	span {
		margin: 0 1em;
	}
}

small.ln {
	color: #aaa;
	transition: all 0.5s;
}